@use "../../palette-classique";
@use "../../palette-darkmode";
@use "../../palette-kawai";
@use "../../palette-noel";


.card {
    width: 130px;
    height: 200px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    // padding: 8px;
    box-sizing: border-box;

    overflow: hidden;

    transition: 0.15s;
}

.card-classique {
    background-color: palette-classique.$card-front;
    color: palette-classique.$card-font;
    filter: drop-shadow(0 0 5px palette-classique.$card-shadow);
}

.card-darkmode {
    background-color: palette-darkmode.$card-front;
    color: palette-darkmode.$card-font;
    filter: drop-shadow(0 0 5px palette-darkmode.$card-shadow);
}

.card-kawai {
    background-color: palette-kawai.$card-front;
    color: palette-kawai.$card-font;
    filter: drop-shadow(0 0 5px palette-kawai.$card-shadow);
}

.card-noel {
    background-color: palette-noel.$card-front;
    color: palette-noel.$card-font;
    filter: drop-shadow(0 0 5px palette-noel.$card-shadow);
}

.enlargable:hover {
    transform: scale(1.5) translateY(-72px);
    transition: 0.15s;
}

.title {
    font-weight: bold;
}

.image-container {
    flex-grow: 1;
}

img {
    max-height: 60px;
}

.text {
    margin: 8px;
}

.description {
    margin: 8px;
}

.back-classique {
    background-color: palette-classique.$card-back;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 8px solid palette-classique.$card-back-accent;
    box-sizing: border-box;
}

.back-darkmode {
    background-color: palette-darkmode.$card-back;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 8px solid palette-darkmode.$card-back-accent;
    box-sizing: border-box;
}

.back-kawai {
    background-color: palette-kawai.$card-back;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 8px solid palette-kawai.$card-back-accent;
    box-sizing: border-box;
}

.back-noel {
    background-color: palette-noel.$card-back;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 8px solid palette-noel.$card-back-accent;
    box-sizing: border-box;
}